
ConnectFour/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConnectFour/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConnectFour/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ConnectFour/obj/Debug/ConnectFour.pdb
ConnectFour/obj/Debug/ConnectFour.exe
ConnectFour/obj/Debug/ConnectFour.csprojAssemblyReference.cache
ConnectFour/obj/Debug/ConnectFour.csproj.FileListAbsolute.txt
ConnectFour/obj/Debug/ConnectFour.csproj.AssemblyReference.cache
ConnectFour/bin/Debug/ConnectFour.pdb
ConnectFour/bin/Debug/ConnectFour.exe
ConnectFour/.vs/VSWorkspaceState.json
ConnectFour/.vs/slnx.sqlite
ConnectFour/.vs/ProjectSettings.json
ConnectFour/.vs/ConnectFour/v16/.suo
.vs/VSWorkspaceState.json
*.sqlite
.vs/ProjectSettings.json
.vs/ConnectFour/v16/.suo
*.cache
